@model ShauliBlogMvc.Models.Comment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete comment: "@Html.DisplayFor(model => model.Title)" On Post: "@Html.DisplayFor(model => model.Post.Title)" ?</h3>

<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <!--Html.ActionLink("Back to List", "Index")-->
            @Html.ActionLink("Back to List", "Index", "Posts", new { id = Model.PostID }, null)
        </div>
    }
</div>
