@{
    ViewBag.Title = "About Shauli";
}
<h2>@ViewBag.Title</h2>

<p>Hi. Did you ever had a question you were too shy to ask?
    Are you a curios person?
    You got to the right place. This blog is just for you.
    My name is Shauli, I'm 40 years old and I'm from Tel-Aviv. 
    Hope you enjoy. I would love to hear from you.</p>
<img src="~/images/ShauliPic.jpg" alt="Shauli" />
